<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
<header>
</header>

<main>
    {% block content %}{% endblock %}
</main>

<footer>
    <nav>
        <ul>
            <li><a href="{% url 'shop:home' %}">Главная</a></li>
            <li><a href="{% url 'shop:about_company' %}">О компании</a></li>
            <li><a href="{% url 'shop:article_list' %}">Новости</a></li>
            <li><a href="{% url 'shop:faq' %}">Словарь терминов и понятий</a></li>
            <li><a href="{% url 'shop:contact_list' %}">Контакты</a></li>
            <li><a href="{% url 'shop:privacy_policy' %}">Политика конфиденциальности</a></li>
            <li><a href="{% url 'shop:vacancies' %}">Вакансии</a></li>
            <li><a href="{% url 'shop:home' %}">Отзывы</a></li>
            <li><a href="{% url 'shop:home' %}">Промокоды и купоны</a></li>
        </ul>
    </nav>
</footer>
</body>
</html>
