{% extends "default.html" %}
{% load static %}
{% block title %}Главная{% endblock %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">
<h2><em>Последняя новость!</em></h2>
<h3 id="latest_article">
    {{ latest_article.title }} <a href="{% url 'shop:article_detail' latest_article.id  %}"><small>Читать далее</small></a>
</h3>

<figure id="cite_banner">
    <picture>
        <source srcset="{% static 'images/mob_banner.jpg' %}" media="(max-width: 767px)">
        <source srcset="{% static 'images/plan_banner.jpg' %}" media="(min-width: 768px) and (max-width: 1024px)">
        <source srcset="{% static 'images/desctop_banner.jpg' %}" media="(min-width: 1025px)">
        <img src="{% static 'images/banner.png' %}" alt="Рекламный баннер">
    </picture>
    <figcaption></figcaption>
</figure>


<h2>Список компаний-партнеров:</h2>
<nav id="company_partners">
    <ul>
        {% for partner in partners %}
        <li class="partner-block">
            <pre id="partner_name">{{partner.name}}</pre>
            <a id="partner_logo" href="{{ partner.website }}" target="_blank">
                <img src="{{ partner.logo.url }}" alt="{{ partner.name }}">
            </a>
        </li>
        {% endfor %}
    </ul>
</nav>
{% endblock %}
