{% extends "default.html" %}
{% load static%}
{% block title %}Отзывы{% endblock %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/review_list.css' %}">
    <h1>Отзывы</h1>
    <ul class="review_list">
        {% for review in reviews %}
            <li>
                <strong>Пользователь: {{ review.user.username }}</strong><br>
                <strong>Оценка: {{ review.rating }}</strong><br>
                Текст: {{ review.text }}<br>
                <em>Дата: {{ review.date_added }}</em>
            </li>
        {% endfor %}
    </ul>
    <a id="add_review" href="{% url 'shop:add_review' %}">Add a Review</a>
{% endblock %}
