.contacts {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
    padding: 0;
}


.contact_one {
    background-color: #f5f5f5;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    width: calc(33.33% - 20px); /* Ширина каждого элемента (в 3 колонки) */
    margin-bottom: 20px;
    box-sizing: border-box;

    perspective: 1000px;
    transform_style:preserve-3d;
    transition: transform 0.2s;
    transform: rotateX(0deg);
}

@media (max-width: 768px) {
    .contacts {
        flex-direction: column;
    }

    #contact_one {
        width: 100%; /* Полная ширина на узких экранах */
    }
}

.contacts h2 {
    font-size: 20px;
    margin: 10px 0;
}

.contacts img {
    width: 200px; /* Задайте желаемую ширину */
    height: 200px; /* Задайте желаемую высоту */
    object-fit: cover; /* Сохраняет соотношение сторон и обрезает изображение по размеру контейнера */
}


#doljnost, #email, #telephone, #description {
    font-size: 16px;
    margin: 10px 0;
}
