/* Стили для блоков компаний-партнеров */
.partner-block {
    display: inline-block;
    border: 2px solid #ccc;
    border-radius: 50%; /* Делаем блоки круглыми */
    overflow: hidden; /* Обрезать изображение внутри блока по границам */
    width: 150px; /* Ширина блока */
    height: 150px; /* Высота блока */
    margin: 10px; /* Внешний отступ между блоками */
    background-img: #3498db; /* Цвет фона */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.9); /* Тень блока */
    text-align: center;
    font-family: Arial, sans-serif; /* Шрифт для текста */
    letter-spacing: 1px; /* Кернинг (расстояние между буквами) */
    font-kerning: normal;
}

.partner-block:hover {
    transform: scale(1.2); /* Увеличиваем блок при наведении */
}

/* Стили для имени компании */
#partner_name {
    display: block;/* Сделать изображение блочным элементом */
    width: 100%; /* Заполнить всю ширину блока */
    height: auto; /* Автоматическая высота для сохранения соотношения сторон */
    font-size: 14px; /* Размер шрифта */
}

/* Стили для логотипа компании */
#partner_logo img {
    object-fit: cover;
    width: 100px; /* Ширина изображения */
    height: 100px; /* Высота изображения */
}

/* Анимация для объектов на баннере */
@keyframes rotateBanner {
    0%, 100% {
        transform: translateY(0);
    }
    25% {
        transform: translateY(-20px); /* Плавное перемещение вверх */
    }
    50% {
        transform: translateY(0);
    }
    75% {
        transform: translateY(20px); /* Плавное перемещение вниз */
}
}

/* Применение анимации к объектам на баннере */
.cite_banner picture img {
    width: 400px;
    height: auto;
    animation: rotateBanner 5s linear infinite; /* Применить анимацию */
    display: block;
    margin: 0 auto; /* Центрировать изображение */
}

.advertisement {
    padding: 20px;
    margin-bottom: 20px;
}

.advertisement h2 {
    font-size: 24px;
    font-weight: bold;
}

.advertisement .adv-image {
    max-width: 300px;
    height: 300px;
    margin-top: 10px;
}

.advertisement .adv-link {
    margin-top: 10px;
    display: block;
}
.advertisement {
    animation-name: bounce; /* Имя анимации */
    animation-duration: 1s; /* Длительность анимации (1 секунда) */
    animation-timing-function: ease-in-out; /* Функция распределения времени */
    animation-iteration-count: infinite; /* Бесконечное повторение анимации */
}

/* Определение анимации bounce */
@keyframes bounce {
    0%, 100% {
        transform: translateY(0); /* Начальное и конечное состояния - нет смещения по вертикали */
    }
    50% {
        transform: translateY(-10px); /* Середина анимации - смещение вверх на 10px */
    }
}


.advertisements-list {
    position: relative;
    width: 350px; /* Задайте желаемую ширину и высоту для контейнера */
    height: 350px;
    overflow: hidden;
}

.advertisement {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 1s;
}

.advertisement.active {
    opacity: 1;
}


/*.advertisement {
    animation-name: bounce; *//* Имя анимации *//*
    animation-duration: 1s; *//* Длительность анимации (1 секунда) *//*
    animation-timing-function: ease-in-out; *//* Функция распределения времени *//*
    animation-iteration-count: infinite; *//* Бесконечное повторение анимации *//*
}*/

/* Стили для информации о последней статье */
#latest_article {
    position: absolute; /* Абсолютное позиционирование */
    top: 1090px; /* Расстояние от верхнего края (вы можете настроить по вашему вкусу) */
    left: 250px; /* Расстояние от правого края (вы можете настроить по вашему вкусу) */
    background-color: rgba(255, 255, 255, 0.8); /* Цвет фона */
    padding: 10px; /* Внутренний отступ текста */
    border: 1px solid #ccc; /* Граница блока */
    border-radius: 5px; /* Скругление углов */
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {

}

#top{
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
#top::before{
    content:'';
    position: absolute;
    bottom: 0;
    left: 0;
    height:200px;
    width: 100%;
    background:linear-gradient(to top,#fff,transparent);
    z-index: 1000;
}
#man{
    top: inherit;
    bottom: 0;
}
section img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
}
