{% load static %}

<head>
    <meta charset="utf-8"/>
    <title>{% block title %}SWEET GINGERBREAD{% endblock %}</title>
    <link href="{% static 'css/base.css' %}" rel="stylesheet">
    <link href="{% static 'css/list.css' %}" rel="stylesheet">
    <link href="{% static 'css/detail.css' %}" rel="stylesheet">
</head>
<body style="background-size: cover" background="/static/images/5-fon.png">
<div id="header">
    <a href="/" class="logo">SWEET GINGERBREAD</a>
</div>
<div id="subheader">
    <div class="cart">
        {% with total_items=cart|length %}
        {% if cart|length > 0 %}
        Your cart:
        <a href="{% url 'cart:cart_detail' %}">
            {{ total_items }} item{{ total_items|pluralize }},
            ${{ cart.get_total_price }}
        </a>
        {% else %}
        Your cart is empty.
        {% endif %}
        {% endwith %}
    </div>
</div>
<div id="content">
    {% block content %}
    {% endblock %}
</div>
<footer>
    <nav>
        <ul>
            <li><a href="{% url 'shop:home' %}">Главная</a></li>
            <li><a href="{% url 'shop:about_company' %}">О компании</a></li>
            <li><a href="{% url 'shop:home' %}">Новости</a></li>
            <li><a href="{% url 'shop:home' %}">Словарь терминов и понятий</a></li>
            <li><a href="{% url 'shop:home' %}">Контакты</a></li>
            <li><a href="{% url 'shop:home' %}">Политика конфиденциальности</a></li>
            <li><a href="{% url 'shop:home' %}">Отзывы</a></li>
            <li><a href="{% url 'shop:home' %}">Промокоды и купоны</a></li>
        </ul>
    </nav>
</footer>
</body>
